Trabalho de tecnologias Internet/Animais.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstpage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="orderedlist">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="listitem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="link">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="olink">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="targetdocent" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="phrase" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="secondpage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="video" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="phrase" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="thirdpage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="order" type="xs:unsignedByte" />
                      <xs:element name="image" type="xs:string" />
                      <xs:element name="Name" type="xs:string" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fourthpage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="secondtitle" type="xs:string" />
              <xs:element name="answerbutton" type="xs:string" />
              <xs:element name="phrase" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="lang" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>